## Content_Based_Recommendation_System

### Cosine similarity calculation

In [161]:
from math import *
from math import sqrt

In [162]:
def square(x):
    return round(sqrt(sum([a * a for a in x])), 3)

In [163]:
def cosine_similarity(x, y):
    numerator = sum(a * b for a,b in zip(x,y))
    denominator = square(x) * square(y)
    return round(numerator / float(denominator), 3)

In [164]:
cosine_similarity([3,45,7,2], [2,54,13,15])

0.972

### Neccessary libraries like cosine_similarity and countVecorizer to determine term frequency

In [165]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [166]:
df = pd.read_csv('your input data')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

### Taking only neccessary columns

In [167]:
df = df[['Series_Title', 'Genre', 'Overview', 'Director', 'Star1', 'Star2', 'Star3']]
df

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",A young New York socialite becomes interested ...,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal
996,Giant,"Drama, Western",Sprawling epic covering the life of a Texas ca...,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean
997,From Here to Eternity,"Drama, Romance, War","In Hawaii in 1941, a private is cruelly punish...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr
998,Lifeboat,"Drama, War",Several survivors of a torpedoed merchant ship...,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak
999,The 39 Steps,"Crime, Mystery, Thriller",A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim

### Converting to all lower case and splitting for data preprocessing

In [168]:
df['Genre'] = df['Genre'].map(lambda x : x.lower().split(','))
df['Genre']

0                           [drama]
1                   [crime,  drama]
2          [action,  crime,  drama]
3                   [crime,  drama]
4                   [crime,  drama]
                   ...
995      [comedy,  drama,  romance]
996               [drama,  western]
997         [drama,  romance,  war]
998                   [drama,  war]
999    [crime,  mystery,  thriller]
Name: Genre, Length: 1000, dtype: object

### Combining the all three star columns into one and separating them with comma

In [169]:
df["Actors"] = df["Star1"].str.cat(df[["Star2", "Star3"]].astype(str), sep=",")
df['Actors']

0              Tim Robbins,Morgan Freeman,Bob Gunton
1                 Marlon Brando,Al Pacino,James Caan
2          Christian Bale,Heath Ledger,Aaron Eckhart
3             Al Pacino,Robert De Niro,Robert Duvall
4              Henry Fonda,Lee J. Cobb,Martin Balsam
                           ...
995      Audrey Hepburn,George Peppard,Patricia Neal
996          Elizabeth Taylor,Rock Hudson,James Dean
997     Burt Lancaster,Montgomery Clift,Deborah Kerr
998      Tallulah Bankhead,John Hodiak,Walter Slezak
999    Robert Donat,Madeleine Carroll,Lucie Mannheim
Name: Actors, Length: 1000, dtype: object

In [170]:
df['Director'] = df['Director'].map(lambda x: x.split(' '))
df['Director']

0             [Frank, Darabont]
1      [Francis, Ford, Coppola]
2          [Christopher, Nolan]
3      [Francis, Ford, Coppola]
4               [Sidney, Lumet]
                 ...
995            [Blake, Edwards]
996           [George, Stevens]
997           [Fred, Zinnemann]
998         [Alfred, Hitchcock]
999         [Alfred, Hitchcock]
Name: Director, Length: 1000, dtype: object

In [171]:
df.drop(columns=['Star1','Star2','Star3'], inplace = True)

In [173]:
df['Actors'] = df['Actors'].apply(lambda actors: actors.lower().replace(',', '').replace(' ', ''))

In [175]:
df['Director'] = df['Director'].apply(lambda directors: ''.join(directors))

In [177]:
pip install rake_nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rake_nltk in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from rake_nltk) (3.8.1)
Requirement already satisfied: click in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (8.1.7)
Requirement already satisfied: joblib in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (2024.7.24)
Requirement already satisfied: tqdm in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.66.4)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Importing the neccessary libaraies to extract keywords from the text

In [178]:
import rake_nltk
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/abdulrabbani/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/abdulrabbani/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [179]:
# Intialising a new columns "Keywords"
df['Keywords'] = ''

for index, rows in df.iterrows():
    plot = rows['Overview']
    # Instantiating Rake, by default it uses english stopwords from nltk and discards punctuation characaters
    #RAKE (Rapid Automatic Keyword Extraction): RAKE is an algorithm that extracts keywords by splitting text into words, 
    #removing stopwords, and calculating the co-occurrence of words.
    r = Rake()

    r.extract_keywords_from_text(plot)
    #Getting the word dictionary with keywords and their scores
    keywords_dictionary_score = r.get_word_degrees()

    df.at[index, 'Keywords'] = list(keywords_dictionary_score.keys())

In [180]:
keywords_dictionary_score

defaultdict(<function rake_nltk.rake.Rake._build_word_co_occurance_graph.<locals>.<lambda>()>,
            {'man': 4,
             'london': 2,
             'tries': 2,
             'help': 1,
             'counter': 1,
             'espionage': 2,
             'agent': 3,
             'killed': 1,
             'stands': 3,
             'accused': 3,
             'must': 2,
             'go': 2,
             'run': 1,
             'save': 1,
             'stop': 1,
             'spy': 2,
             'ring': 2,
             'trying': 1,
             'steal': 4,
             'top': 4,
             'secret': 4,
             'information': 4})

In [181]:
df['Keywords']

0      [two, imprisoned, men, bond, number, years, fi...
1      [organized, crime, dynasty, aging, patriarch, ...
2      [menace, known, joker, wreaks, havoc, chaos, p...
3      [early, life, career, vito, corleone, 1920s, n...
4      [jury, holdout, attempts, prevent, miscarriage...
                             ...
995    [young, new, york, socialite, becomes, interes...
996    [sprawling, epic, covering, life, texas, cattl...
997    [hawaii, 1941, private, cruelly, punished, box...
998    [several, survivors, torpedoed, merchant, ship...
999    [man, london, tries, help, counter, espionage,...
Name: Keywords, Length: 1000, dtype: object

In [182]:
df.set_index('Series_Title', inplace= True)
df

,Genre,Overview,Director,Actors,Keywords
Series_Title,,,,,
The Shawshank Redemption,[drama],Two imprisoned men bond over a number of years...,FrankDarabont,timrobbinsmorganfreemanbobgunton,"[two, imprisoned, men, bond, number, years, fi..."
The Godfather,"[crime, drama]",An organized crime dynasty's aging patriarch t...,FrancisFordCoppola,marlonbrandoalpacinojamescaan,"[organized, crime, dynasty, aging, patriarch, ..."
The Dark Knight,"[action, crime, drama]",When the menace known as the Joker wreaks havo...,ChristopherNolan,christianbaleheathledgeraaroneckhart,"[menace, known, joker, wreaks, havoc, chaos, p..."
The Godfather: Part II,"[crime, drama]",The early life and career of Vito Corleone in ...,FrancisFordCoppola,alpacinorobertdenirorobertduvall,"[early, life, career, vito, corleone, 1920s, n..."
12 Angry Men,"[crime, drama]",A jury holdout attempts to prevent a miscarria...,SidneyLumet,henryfondaleej.cobbmartinbalsam,"[jury, holdout, attempts, prevent, miscarriage..."
...,...,...,...,...,...
Breakfast at Tiffany's,"[comedy, drama, romance]",A young New York socialite becomes interested ...,BlakeEdwards,audreyhepburngeorgepeppardpatricianeal,"[young, new, york, socialite, becomes, interes..."
Giant,"[drama, western]",Sprawling epic covering the life of a Texas ca...,GeorgeStevens,elizabethtaylorrockhudsonjamesdean,"[sprawling, epic, covering, life, texas, cattl..."
From Here to Eternity,"[drama, romance, war]","In Hawaii in 1941, a private is cruelly punish...",FredZinnemann,burtlancastermontgomerycliftdeborahkerr,"[hawaii, 1941, private, cruelly, punished, box..."
Lifeboat,"[drama, war]",Several survivors of a torpedoed merchant ship...,AlfredHitchcock,tallulahbankheadjohnhodiakwalterslezak,"[several, survivors, torpedoed, merchant, ship..."
The 39 Steps,"[crime, mystery, thriller]",A man in London tries to help a counter-espion...,AlfredHitchcock,robertdonatmadeleinecarrollluciemannheim,"[man, london, tries, help, counter, espionage,..."

### Bag of words containg everything as one text to initilaise the count vectorizer

In [183]:
df['bag of words'] = ''
columns = df.columns
for index, rows in df.iterrows():
    words = ''
    for col in columns:
        if col != 'Director':
            words = words + ''.join(rows[col])
        else:
            words = words + rows[col] + ' '
    df.at[index,'bag of words'] = words

In [186]:
df = df.drop(columns=[col for col in df.columns if col != 'bag of words'])
df['bag of words'] = df['bag of words'].apply(lambda x : x.lower())
df

                                                               bag of words
Series_Title
The Shawshank Redemption  dramatwo imprisoned men bond over a number of ...
The Godfather             crime dramaan organized crime dynasty's aging ...
The Dark Knight           action crime dramawhen the menace known as the...
The Godfather: Part II    crime dramathe early life and career of vito c...
12 Angry Men              crime dramaa jury holdout attempts to prevent ...
...                                                                     ...
Breakfast at Tiffany's    comedy drama romancea young new york socialite...
Giant                     drama westernsprawling epic covering the life ...
From Here to Eternity     drama romance warin hawaii in 1941, a private ...
Lifeboat                  drama warseveral survivors of a torpedoed merc...
The 39 Steps              crime mystery thrillera man in london tries to...

[1000 rows x 1 columns]

### Intializing the count vectorizer on bag of words to deterimine the term frequency of words in the text

In [187]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['bag of words'])

In [188]:
count_matrix

<1000x7653 sparse matrix of type '<class 'numpy.int64'>'
	with 25990 stored elements in Compressed Sparse Row format>

In [189]:
c = count_matrix.todense()

In [190]:
c

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [196]:
print(count_matrix[0,:])

  (0, 2007)	1
  (0, 3343)	1
  (0, 4422)	1
  (0, 817)	1
  (0, 4978)	1
  (0, 4845)	1
  (0, 4881)	2
  (0, 7601)	1
  (0, 2557)	1
  (0, 6352)	1
  (0, 363)	1
  (0, 2300)	1
  (0, 5575)	1
  (0, 6901)	1
  (0, 166)	1
  (0, 1353)	1
  (0, 1686)	1
  (0, 2672)	1
  (0, 6923)	1

### Applying cosine similarity on the data frame and seeing the result matrix

In [197]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.08891084, 0.225913  , ..., 0.03413944, 0.18463724,
        0.05248639],
       [0.08891084, 1.        , 0.22094727, ..., 0.13355611, 0.09028939,
        0.12833175],
       [0.225913  , 0.22094727, 1.        , ..., 0.10604746, 0.42059551,
        0.35868506],
       ...,
       [0.03413944, 0.13355611, 0.10604746, ..., 1.        , 0.16178756,
        0.15768331],
       [0.18463724, 0.09028939, 0.42059551, ..., 0.16178756, 1.        ,
        0.21320072],
       [0.05248639, 0.12833175, 0.35868506, ..., 0.15768331, 0.21320072,
        1.        ]])

In [198]:
indices = pd.Series(df.index)
indices[:20]

0                              The Shawshank Redemption
1                                         The Godfather
2                                       The Dark Knight
3                                The Godfather: Part II
4                                          12 Angry Men
5         The Lord of the Rings: The Return of the King
6                                          Pulp Fiction
7                                      Schindler's List
8                                             Inception
9                                            Fight Club
10    The Lord of the Rings: The Fellowship of the Ring
11                                         Forrest Gump
12                      Il buono, il brutto, il cattivo
13                The Lord of the Rings: The Two Towers
14                                           The Matrix
15                                           Goodfellas
16       Star Wars: Episode V - The Empire Strikes Back
17                      One Flew Over the Cuckoo's Nest
18                                             Hamilton
19                                         Gisaengchung
Name: Series_Title, dtype: object

### Recommendation function which lists the top 10 movies based on cosine similarity near to 1

In [200]:
def recommendations(title, cosine_sim = cosine_sim):
    recommended_movies = []

    idx = indices[indices == title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending= False)

    top_10_Movies = list(score_series.iloc[1:11].index)
    print(top_10_Movies)

    for i in top_10_Movies:
        recommended_movies.append(list(df.index)[i])

    return recommended_movies

### Testing the output

In [209]:
recommendations('The Dark Knight')

[473, 462, 189, 63, 496, 909, 337, 149, 616, 779]

['Thor: Ragnarok',
 'Bronenosets Potemkin',
 'Rashômon',
 'The Dark Knight Rises',
 'Letters from Iwo Jima',
 'Celda 211',
 'Serbuan maut 2: Berandal',
 'There Will Be Blood',
 'The Boy in the Striped Pyjamas',
 'Ray']