## Content_Based_Recommendation_System

### Cosine similarity calculation

In [379]:
from math import *
from math import sqrt

In [380]:
def square(x):
    return round(sqrt(sum([a * a for a in x])), 3)

In [381]:
def cosine_similarity(x, y):
    numerator = sum(a * b for a,b in zip(x,y))
    denominator = square(x) * square(y)
    return round(numerator / float(denominator), 3)

In [382]:
cosine_similarity([3,45,7,2], [2,54,13,15])

0.972

In [383]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [384]:
df = pd.read_csv('/Users/abdulrabbani/Downloads/imdb_top_1000.csv')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [385]:
df = df[['Series_Title', 'Genre', 'Overview', 'Director', 'Star1', 'Star2', 'Star3']]
df

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",A young New York socialite becomes interested ...,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal
996,Giant,"Drama, Western",Sprawling epic covering the life of a Texas ca...,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean
997,From Here to Eternity,"Drama, Romance, War","In Hawaii in 1941, a private is cruelly punish...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr
998,Lifeboat,"Drama, War",Several survivors of a torpedoed merchant ship...,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak
999,The 39 Steps,"Crime, Mystery, Thriller",A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim

In [386]:
df['Genre'] = df['Genre'].map(lambda x : x.lower().split(','))
df['Genre']

0                           [drama]
1                   [crime,  drama]
2          [action,  crime,  drama]
3                   [crime,  drama]
4                   [crime,  drama]
                   ...
995      [comedy,  drama,  romance]
996               [drama,  western]
997         [drama,  romance,  war]
998                   [drama,  war]
999    [crime,  mystery,  thriller]
Name: Genre, Length: 1000, dtype: object

In [387]:
df["Actors"] = df["Star1"].str.cat(df[["Star2", "Star3"]].astype(str), sep=",")
df['Actors']

0              Tim Robbins,Morgan Freeman,Bob Gunton
1                 Marlon Brando,Al Pacino,James Caan
2          Christian Bale,Heath Ledger,Aaron Eckhart
3             Al Pacino,Robert De Niro,Robert Duvall
4              Henry Fonda,Lee J. Cobb,Martin Balsam
                           ...
995      Audrey Hepburn,George Peppard,Patricia Neal
996          Elizabeth Taylor,Rock Hudson,James Dean
997     Burt Lancaster,Montgomery Clift,Deborah Kerr
998      Tallulah Bankhead,John Hodiak,Walter Slezak
999    Robert Donat,Madeleine Carroll,Lucie Mannheim
Name: Actors, Length: 1000, dtype: object

In [388]:
df['Director'] = df['Director'].map(lambda x: x.split(' '))
df['Director']

0             [Frank, Darabont]
1      [Francis, Ford, Coppola]
2          [Christopher, Nolan]
3      [Francis, Ford, Coppola]
4               [Sidney, Lumet]
                 ...
995            [Blake, Edwards]
996           [George, Stevens]
997           [Fred, Zinnemann]
998         [Alfred, Hitchcock]
999         [Alfred, Hitchcock]
Name: Director, Length: 1000, dtype: object

In [389]:
df.drop(columns=['Star1','Star2','Star3'], inplace = True)

In [390]:
df

,Series_Title,Genre,Overview,Director,Actors
0,The Shawshank Redemption,[drama],Two imprisoned men bond over a number of years...,"[Frank, Darabont]","Tim Robbins,Morgan Freeman,Bob Gunton"
1,The Godfather,"[crime, drama]",An organized crime dynasty's aging patriarch t...,"[Francis, Ford, Coppola]","Marlon Brando,Al Pacino,James Caan"
2,The Dark Knight,"[action, crime, drama]",When the menace known as the Joker wreaks havo...,"[Christopher, Nolan]","Christian Bale,Heath Ledger,Aaron Eckhart"
3,The Godfather: Part II,"[crime, drama]",The early life and career of Vito Corleone in ...,"[Francis, Ford, Coppola]","Al Pacino,Robert De Niro,Robert Duvall"
4,12 Angry Men,"[crime, drama]",A jury holdout attempts to prevent a miscarria...,"[Sidney, Lumet]","Henry Fonda,Lee J. Cobb,Martin Balsam"
...,...,...,...,...,...
995,Breakfast at Tiffany's,"[comedy, drama, romance]",A young New York socialite becomes interested ...,"[Blake, Edwards]","Audrey Hepburn,George Peppard,Patricia Neal"
996,Giant,"[drama, western]",Sprawling epic covering the life of a Texas ca...,"[George, Stevens]","Elizabeth Taylor,Rock Hudson,James Dean"
997,From Here to Eternity,"[drama, romance, war]","In Hawaii in 1941, a private is cruelly punish...","[Fred, Zinnemann]","Burt Lancaster,Montgomery Clift,Deborah Kerr"
998,Lifeboat,"[drama, war]",Several survivors of a torpedoed merchant ship...,"[Alfred, Hitchcock]","Tallulah Bankhead,John Hodiak,Walter Slezak"
999,The 39 Steps,"[crime, mystery, thriller]",A man in London tries to help a counter-espion...,"[Alfred, Hitchcock]","Robert Donat,Madeleine Carroll,Lucie Mannheim"

In [391]:
df['Actors'] = df['Actors'].apply(lambda actors: actors.lower().replace(',', '').replace(' ', ''))

In [392]:
df['Actors']

0              timrobbinsmorganfreemanbobgunton
1                 marlonbrandoalpacinojamescaan
2          christianbaleheathledgeraaroneckhart
3              alpacinorobertdenirorobertduvall
4               henryfondaleej.cobbmartinbalsam
                         ...
995      audreyhepburngeorgepeppardpatricianeal
996          elizabethtaylorrockhudsonjamesdean
997     burtlancastermontgomerycliftdeborahkerr
998      tallulahbankheadjohnhodiakwalterslezak
999    robertdonatmadeleinecarrollluciemannheim
Name: Actors, Length: 1000, dtype: object

In [393]:
df['Director'] = df['Director'].apply(lambda directors: ''.join(directors))

In [394]:
df['Director']

0           FrankDarabont
1      FrancisFordCoppola
2        ChristopherNolan
3      FrancisFordCoppola
4             SidneyLumet
              ...
995          BlakeEdwards
996         GeorgeStevens
997         FredZinnemann
998       AlfredHitchcock
999       AlfredHitchcock
Name: Director, Length: 1000, dtype: object

In [395]:
pip install rake_nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rake_nltk in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from rake_nltk) (3.8.1)
Requirement already satisfied: click in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (8.1.7)
Requirement already satisfied: joblib in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (2024.7.24)
Requirement already satisfied: tqdm in /Users/abdulrabbani/Library/Python/3.9/lib/python/site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.66.4)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [396]:
import rake_nltk
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/abdulrabbani/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/abdulrabbani/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [397]:
# Intialising a new columns "Keywords"
df['Keywords'] = ''

for index, rows in df.iterrows():
    plot = rows['Overview']
    # Instantiating Rake, by default it uses english stopwords from nltk and discards punctuation characaters
    r = Rake()

    r.extract_keywords_from_text(plot)
    #Getting the word dictionary with keywords and their scores
    keywords_dictionary_score = r.get_word_degrees()

    rows['Keywords'] = list(keywords_dictionary_score.keys())

df.drop(columns=['Overview'], inplace= True)

In [398]:
keywords_dictionary_score

defaultdict(<function rake_nltk.rake.Rake._build_word_co_occurance_graph.<locals>.<lambda>()>,
            {'man': 4,
             'london': 2,
             'tries': 2,
             'help': 1,
             'counter': 1,
             'espionage': 2,
             'agent': 3,
             'killed': 1,
             'stands': 3,
             'accused': 3,
             'must': 2,
             'go': 2,
             'run': 1,
             'save': 1,
             'stop': 1,
             'spy': 2,
             'ring': 2,
             'trying': 1,
             'steal': 4,
             'top': 4,
             'secret': 4,
             'information': 4})

In [399]:
df['Keywords']

0
1
2
3
4
      ..
995
996
997
998
999
Name: Keywords, Length: 1000, dtype: object

In [400]:
df.set_index('Series_Title', inplace= True)
df

,Genre,Director,Actors,Keywords
Series_Title,,,,
The Shawshank Redemption,[drama],FrankDarabont,timrobbinsmorganfreemanbobgunton,
The Godfather,"[crime, drama]",FrancisFordCoppola,marlonbrandoalpacinojamescaan,
The Dark Knight,"[action, crime, drama]",ChristopherNolan,christianbaleheathledgeraaroneckhart,
The Godfather: Part II,"[crime, drama]",FrancisFordCoppola,alpacinorobertdenirorobertduvall,
12 Angry Men,"[crime, drama]",SidneyLumet,henryfondaleej.cobbmartinbalsam,
...,...,...,...,...
Breakfast at Tiffany's,"[comedy, drama, romance]",BlakeEdwards,audreyhepburngeorgepeppardpatricianeal,
Giant,"[drama, western]",GeorgeStevens,elizabethtaylorrockhudsonjamesdean,
From Here to Eternity,"[drama, romance, war]",FredZinnemann,burtlancastermontgomerycliftdeborahkerr,
Lifeboat,"[drama, war]",AlfredHitchcock,tallulahbankheadjohnhodiakwalterslezak,
The 39 Steps,"[crime, mystery, thriller]",AlfredHitchcock,robertdonatmadeleinecarrollluciemannheim,